@namespace Quartermaster.Components
@using Quartermaster.Models
@inject HttpClient Http

<div class="list-wrapper">
@if (!loaded) {
<p>Lastar inn våre ting...</p>
} else {
    foreach (var category in Categories) {
        <CategoryView Model=@category />
    }
}
</div>

@code {
    [Parameter]
    public string? Token { get; set; }

    public bool loaded = false;
    public List<Thing>? Things { get; set; } = null;
    public List<Category>? Categories { get; set; } = null;

    public string Server = "http://localhost:8000/quartermaster/";

    protected override async Task OnInitializedAsync() {
        Things = await Http.GetFromJsonAsync<List<Thing>?>(Server + "api/things/");

        Categories = await Http.GetFromJsonAsync<List<Category>?>(Server + "api/categories/");
        Categories.ForEach(
            c => {
                c.Things = new List<Thing>();
                Things.ForEach(
                    t => {
                        if (t.CategoryId == c.Id) {
                            c.Things.Add(t);
                        }
                    }
                );
            }
        );
        loaded = true;
        StateHasChanged();
    }
}
