@page "/"
@using Quartermaster.Components
@inject IJSRuntime JS
@inject NavigationManager NavigationManager

<PageTitle>Liste</PageTitle>

<h1>Våre ting</h1>

@if (ConnectionString != null) {
    <ThingsList ConnectionString=@ConnectionString />
} else {
    <p>Loading settings...</p>
}

@code {
    private string? connectionString { get; set; }
    public string? ConnectionString { get => connectionString; private set {
        Edited = !(connectionString == null);
        connectionString = value;
    } }
    public bool Edited = false;

    override protected Task OnInitializedAsync() {
        this.GetConnectionString();

        return base.OnInitializedAsync();
    }

    public async void GetConnectionString() {
        ConnectionString = new(await JS.InvokeAsync<string>("getCookie", "connectionString"));
        Console.WriteLine("Connection string: " + ConnectionString);
        if (ConnectionString == "") {
            NavigationManager.NavigateTo("/settings");
        }
        StateHasChanged();
    }
    
    public async void SaveConnectionString() {
        string newValue = ConnectionString!;
        Console.WriteLine("Saving connection string: " + newValue);
        ConnectionString = new(await JS.InvokeAsync<string>("setCookie", "connectionString", ConnectionString));
        Edited = false;
        ConnectionString = newValue;
        StateHasChanged();
    }
}
