@page "/"
@using Quartermaster.Components
@inject IJSRuntime JS
@inject NavigationManager NavigationManager

<PageTitle>Liste</PageTitle>

<h1>Våre ting</h1>

@if (AccessToken != null && Server != null) {
    <ThingsList Token=@AccessToken />
} else {
    <p>Loading settings...</p>
}

@code {
    private string? accessToken { get; set; }
    public string? AccessToken { get => accessToken; private set {
        Edited = !(accessToken == null);
        accessToken = value;
    } }
    private string? server { get; set; }
    public string? Server { get => server; private set {
        Edited = !(server == null);
        server = value;
    } }
    public bool Edited = false;

    override protected Task OnInitializedAsync() {
        this.GetConnectionString();

        return base.OnInitializedAsync();
    }

    public async void GetConnectionString() {
        AccessToken = new(await JS.InvokeAsync<string>("getCookie", "accessToken"));
        Console.WriteLine("Access token: " + AccessToken);
        if (AccessToken == "") {
            NavigationManager.NavigateTo("/settings");
        }
        Server = new(await JS.InvokeAsync<string>("getCookie", "serverUrl"));
        Console.WriteLine("Server URL: " + Server);
        if (Server == "") {
            NavigationManager.NavigateTo("/settings");
        }
        StateHasChanged();
    }
}
